


.blogshome{
    background-image: url('/images/bloghome.png') ;
     height: 40vh;
     border-radius: 50px;
     /* background-color: rgb(236, 33, 33); */
     background-repeat: no-repeat;
     background-position:cover;
     
     /* background-size: contain;
     background-color: #d40f0f; */
     
     /* margin: 0 2rem; */
}

.noted{
    background-color: #fff;
     height: 30px;
     margin-top: 40rem!important;
}
.newsletter-section {
    background-color: #0a1128; /* Dark blue background */
}

.form-control {
    border-radius: 5px;
}

.btn-danger {
    border-radius: 5px;
}
/* 
.blogcard{

    height: 400px;
} */

.limited-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .short_blog
  {

    max-height: 170px;
   overflow:hidden;
   
   

  }

  .blog-img {


height: 300px;
background-color: red;
overflow: hidden;  
border-radius: 30px;
width: 200px;
/* object-position: center; */
display: flex;
justify-content: center;
align-items: center;


  }
  .blog-img img {


    width: 300px;
  }