
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


.eventhome{
    background-image: url('images/Subtract.png') ;
     height: 40vh;
     border-radius: 50px;
     /* background-color: rgb(236, 33, 33); */
     background-repeat: no-repeat;
     background-position:cover;
     /* background-size: contain;
     background-color: #d40f0f; */
     
     /* margin: 0 2rem; */
}

.noted{
    background-color: #fff;
     height: 30px;
     margin-top: 40rem!important;
}
.newsletter-section {
    background-color: #0a1128; /* Dark blue background */
}

.form-control {
    border-radius: 5px;
}

.btn-danger {
    border-radius: 5px;
}


.eventcard
{

height: ;
    
}

.div-img 
{

max-height: 300px;
overflow: hidden;

display: flex;
justify-content: center;
justify-items: center;
align-items: center;


}

